<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testngdemo.TestNGDemo" />
			<class name="testngdemo.TestNGDemo2" />
			<class name="testngdemo.TestNGDemo3" />
			<class name="testngdemo.TestNGDemo4" />
			<class name="testngdemo.TestNGDemo5" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="regression">
	<classes>
			<class name="testngdemo.TestNGDemo" />
			<class name="testngdemo.TestNGDemo2" />
			<class name="testngdemo.TestNGDemo3" />
			<class name="testngdemo.TestNGDemo4" />
			<class name="testngdemo.TestNGDemo5" />
		</classes>
	
	</test> <!-- Test -->
</suite> <!-- Suite -->
